.App {
	display: flex;
	flex-direction: row;
	width: 100% !important;
}

.App .content {
	display: flex;
	flex-direction: column;
}

.App .container {
	width: 90%;
	margin: 1em auto;
}

.users {
	width: 20% !important;
}
